{% extends 'layouts/app.html' %}
{% load static %}


{% block title %}Main page{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/mainPage.css' %}">
{% endblock css %}
{% block content %}

{% if courses %}
    {% for course in courses %}
    <div class="newsMain">
        <div class="news">
            <div class="head">
                <h1>{{course.title}}</h1>
            </div>
            <div class="content">
                <p>{{course.description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}

{% endblock content %}